
/* responsive part only */

@media (max-width:600px){

#page1 {
    min-height: 100vh;
    width: 100%;
    padding: 0;
}
nav {
    padding: 5vw 5vw;
    background-color: #efeae3;
}
nav img{
    height: 9vh;
    transition: all ease 0.1s;
}
#nav-part2 {
    display: none;
}
nav h3{
    display: block;
    padding: 3vw 5vw;
    border: 1px solid #bbb8b8;
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 200;
}

#center {
    height: 65vh;
    width: 100%;
    flex-direction: column-reverse;
    padding-bottom: 10vw;
    padding-left: 4vw;
    padding-top: 16vw;
    padding-right: 3vw;
    position: relative;
    z-index: 2;
}

#left h3 {
    width: 80%;
    font-size: 4.8vw;
    line-height: 4vw;
}

#center h1 {
    font-size: 20vw;
    text-align: right;
    line-height: 16vw;
}

#page1 video {
    width: 96%;
    margin: 4vw 2vw;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}
#hero-shape{
    position: absolute;
    width: 50vw;
    height: 82vw;
    top: 71vh;
    right: 0;
}

#page2{
    height: 60vh;
}
#moving_text h1{
    font-size: 18vw;
    display: inline-block;
}
.gola{
    height: 6vw;
    width: 6vw;
}
#page2_bottom{
    height: 60vh;
    width: 100%;
}
#page2_bottom h1{
    padding-left: 4vw;
    width: 50%;
    font-size: 4vw;
    z-index: 1;
    align-items: center;
}
#bottom-part2{
    width: 40%;
    height: 60%;
    object-fit: cover;
    padding-right: 2vw;
    position: relative;
    z-index: 1;
}
#bottom-part2 img{
    width: 100%;
    height: 55%;
    border-radius: 20px;
}
#bottom-part2 p{
    padding-top: 3vw;
    width: 100%;
    font-size: 2vw;
}
#page2 #gooey{
    height: 45vw;
    width: 45vw;
    top:50%;
    left: 15%;
}







}